<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    <context:property-placeholder location="classpath:jdbc.properties"/>
    <!--配置连接池-->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClassName}"/>
        <property name="jdbcUrl" value="${jdbc.url}"/>
        <property name="user" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <!--注入连接池-->
        <property name="dataSource" ref="dataSource"/>
        <!--配置Hibernate方言等属性-->
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.format_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.connection.autocommit">false</prop>
                <prop key="current_session_context_class">thread</prop>
                <prop key="hibernate.connection.isolation">4</prop>
                <prop key="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</prop>
            </props>
        </property>
        <property name="mappingResources">
            <list>
                <value>zv2/com/cn/usr/customer/entity/Customer.hbm.xml</value>
                <value>zv2/com/cn/pub/category/entity/Category.hbm.xml</value>
                <value>zv2/com/cn/biz/product/entity/Product.hbm.xml</value>
                <value>zv2/com/cn/pub/subcategory/entity/Subcategory.hbm.xml</value>
                <value>zv2/com/cn/biz/order/entity/Order.hbm.xml</value>
                <value>zv2/com/cn/biz/order/entity/OrderItem.hbm.xml</value>
                <value>zv2/com/cn/usr/manager/entity/Manager.hbm.xml</value>
            </list>
        </property>
    </bean>
    <!--配置事务管理器-->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <!--注入sessionFactory-->
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!--配置Action-->
    <!--注意scope多例，否则默认单例-->
    <bean id="indexAction" class="zv2.com.cn.web.index.action.IndexAction" scope="prototype">
        <property name="categoryService" ref="categoryService"/>
        <property name="productService" ref="productService"/>
    </bean>
    <bean id="adminAction" class="zv2.com.cn.web.admin.action.AdminAction" scope="prototype">
    </bean>
    <!--验证码-->
    <bean id="captchaAction" class="zv2.com.cn.usr.customer.action.CaptchaAction" scope="prototype"/>
    <bean id="customerAction" class="zv2.com.cn.usr.customer.action.CustomerAction" scope="prototype">
        <property name="customerService" ref="customerService"/>
        <property name="categoryService" ref="categoryService"/>
    </bean>
    <bean id="categoryAction" class="zv2.com.cn.pub.category.action.CategoryAction" scope="prototype">
        <property name="categoryService" ref="categoryService"/>
    </bean>
    <bean id="subcategoryAction" class="zv2.com.cn.pub.subcategory.action.SubcategoryAction" scope="prototype">
        <property name="subcategoryService" ref="subcategoryService"/>
        <property name="categoryService" ref="categoryService"/>
    </bean>
    <bean id="productAction" class="zv2.com.cn.biz.product.action.ProductAction" scope="prototype">
        <property name="categoryService" ref="categoryService"/>
        <property name="productService" ref="productService"/>
        <property name="subcategoryService" ref="subcategoryService"/>
    </bean>
    <bean id="cartAction" class="zv2.com.cn.biz.cart.action.CartAction" scope="prototype">
        <property name="productService" ref="productService"/>
        <property name="cartService" ref="cartService"/>
        <property name="categoryService" ref="categoryService"/>
    </bean>
    <bean id="orderAction" class="zv2.com.cn.biz.order.action.OrderAction" scope="prototype">
        <property name="orderService" ref="orderService"/>
        <property name="categoryService" ref="categoryService"/>
        <property name="cartService" ref="cartService"/>
        <property name="customerService" ref="customerService"/>
    </bean>
    <bean id="managerAction" class="zv2.com.cn.usr.manager.action.ManagerAction" scope="prototype">
        <property name="managerService" ref="managerService"/>
    </bean>

    <!--配置Service-->
    <bean id="customerService" class="zv2.com.cn.usr.customer.service.CustomerService">
        <property name="customerDao" ref="customerDao"/>
    </bean>
    <bean id="categoryService" class="zv2.com.cn.pub.category.service.CategoryService">
        <property name="categoryDao" ref="categoryDao"/>
    </bean>
    <bean id="subcategoryService" class="zv2.com.cn.pub.subcategory.service.SubcategoryService">
        <property name="subcategoryDao" ref="subcategoryDao"/>
    </bean>
    <bean id="productService" class="zv2.com.cn.biz.product.service.ProductService">
        <property name="productDao" ref="productDao"/>
    </bean>
    <bean id="cartService" class="zv2.com.cn.biz.cart.service.CartService">
    </bean>
    <bean id="orderService" class="zv2.com.cn.biz.order.service.OrderService">
        <property name="orderDao" ref="orderDao"/>
    </bean>
    <bean id="managerService" class="zv2.com.cn.usr.manager.service.ManagerService">
        <property name="managerDao" ref="managerDao"/>
    </bean>

    <!--配置DAO-->
    <bean id="customerDao" class="zv2.com.cn.usr.customer.dao.CustomerDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="categoryDao" class="zv2.com.cn.pub.category.dao.CategoryDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="subcategoryDao" class="zv2.com.cn.pub.subcategory.dao.SubcategoryDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="productDao" class="zv2.com.cn.biz.product.dao.ProductDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="orderDao" class="zv2.com.cn.biz.order.dao.OrderDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="managerDao" class="zv2.com.cn.usr.manager.dao.ManagerDao">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>